/* css reset */
body{
    background-image: url(images/bg-body.png);
    color: #505460;
    font-family: Arial,sans-serif;
    font-size: small;
}

a, h1 a:hover, h2 a:hover {
    color: #005999;
}

a:hover {
    color: #505561;
}

h1 a, h2 a {
    color: #505561;
    text-decoration: none;
}

img{
    vertical-align:middle;
    border: 0px;
}

li{
    margin-left:12px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

h1{
    font-size:160%;
}

h2{
    font-size:140%;
}

h3{
    font-size:120%;
}

h4{
    font-size:110%;
}

/* architecture */
.header{
    height:108px;
}

.content{
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 16px #808A82;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 760px;
    padding: 24px
}

.footer {
    text-align:center;
    padding:12px;
}

/* header */
#top{
    border-bottom:1px solid #C9D7F1;
    padding:0 3px;
    background-color:#FFF;
    line-height: 20px;
    margin-bottom: 30px;
}

/* common */
.tip{
    color:red;
    line-height: 28px;
}

.small-head-img, .middle-head-img, .big-head-img {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #C2C2C2 #5A5A5A #5A5A5A #C2C2C2;
    padding: 3px 2px 2px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    height: 36px;
    width: 36px;
}

.middle-head-img {
    padding: 5px 4px 4px 5px;
    height: 45px;
    width: 45px;
}

.big-head-img {
    height: 100px;
    width: 100px;
    padding: 5px 4px 4px 5px;
}

.small-head-img:hover, .middle-head-img:hover, .big-head-img:hover {
    border-color: #5A5A5A;
}

/* common component */
.form th {
    text-align:right;
    white-space:nowrap;
    padding-right: 6px;
}

.form input, .form textarea{
    width:100%;
    font-size:12px;
    border:2px inset #CCCCCC;
}

.form textarea{
    overflow:auto;
}

.form input:focus,.form textarea:focus{
    border:2px solid #73A6FF;
}

.form input[type='checkbox'], .form input[type='checkbox']:focus{
    border:0px;
}

.form input{
    height:24px;
    line-height:24px;
}

.form .normal-input{
    width:auto;
}

.form button{
    background:url(/images/icon.png) repeat center bottom;
    border:1px solid;
    border-color:#CCC #BBBBBB #A0A0A0;
    height:28px;
    margin:0;
    vertical-align:top;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:0 6px;
}

.form button:hover{
    border-color:#BBB;
}

.form label {
    font-weight: bold;
    line-height: 24px;
}

.form caption {
    font-size: 20px;
    font-weight: bold;
    margin: 11px 0;
}

.table {
    border-left: 1px solid #BBBBBB;
}

.table th {
    background: url("/images/icon.png") repeat scroll center bottom transparent;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-style: solid solid solid none;
    border-width: 1px;
    height: 28px;
}

.table td {
    border-bottom: 1px solid #A0A0A0;
    border-right: 1px solid #FFFFCC;
    color: #333333;
    padding: 3px 6px;
    background-color: #FFFFFF;
}

.table td:hover {
    border-right: 1px solid #FFFFFF;
    background-color: #FFFFCC;
}

#pagination {
    margin: 20px 0;
    text-align: right;
}

#pagination a {
    background: url("/images/icon.png") repeat scroll center bottom transparent;
    border: 1px solid #C5C3C2;
    color: #505460;
    font-size: 10px;
    margin: 2px;
    padding: 1px 6px;
    text-decoration: none;
}

#pagination a.current {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C3C2;
    color: #3E3E3E;
    font-weight: bold;
    padding: 1px 7px 2px 6px;
}

#pagination a:hover {
    background: none repeat scroll 0 0 #C1CDDD;
    color: #005999;
    border: 1px solid #005999;
}

.completed-panel {
    background-color: #E1EDF3;
    border: 1px solid #505460;
    display: none;
    padding: 2px;
    position: absolute;
    color: #005999;
    overflow:auto;
}

.completed-panel div.selected {
    background-color: #C1CDDD;
}

/* icon */
.login-icon, .admin-icon, .logout-icon, .index-icon, .comment-icon,
.date-icon, .last-date-icon, .sofa-icon, .tag-icon, .reply-icon {
    background-image: url(/images/icon.png);
    width: 16px;
    height: 16px;
}

.login-icon, .admin-icon, .logout-icon, .index-icon {
    background-position: -112px -16px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 3px 0 0 3px;
}

.admin-icon {
    background-position:-80px -16px;
}

.logout-icon {
    background-position:-96px -16px;
}

.index-icon {
    background-position:-64px -16px;
}

.comment-icon, .date-icon, .last-date-icon, .sofa-icon, .tag-icon,
.reply-icon {
    background-position: -32px -16px;
    float: left;
    display: block;    
}

.date-icon {
    background-position:-144px -16px;
}

.last-date-icon {
    background-position: -128px -32px;
}

.tag-icon {
    background-position: -144px -32px;
}

.sofa-icon {
    background-position: 0px -48px;
}

.reply-icon {
    background-position: -16px -16px;
}

/* index */
.index dl {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.index dd, #comments dd {
    border-top: 1px dashed;
    margin: 0 10px;
    padding: 10px;
}

.index dd:hover, #comments dd:hover {
    background-color: #E1EDF3;
}

.index .user-info img {
    margin-right: 20px;
}

.index .main, .entry .main {
    width: 644px;
}

.index .main h2 {
    line-height: 30px;
}

.index .main h2 a {
    color: #505561;
    text-decoration: none;
}

.index .main h2 a:hover {
    color: #005999;
}

/* entry */
.entry .premarlink {
    background-color: #E1EDF3;
    border-color: #C1CDDD;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    margin: 5px;
    padding: 3px;
}

.entry .title {
    margin: 10px 0;
}

.entry .main {
    margin-left: 20px;
    width: 629px;
    overflow: hidden;
}

.entry .sign {
    border-top: 1px solid #DDDDDD;
    margin-top: 5px;
    padding: 5px 5px 0 5px;
}

.entry .comment .ref {
    background: none repeat scroll 0 0 #FFFEC8;
    border: 1px solid #DDDDDD;
    font-size: 9pt;
    margin: 0 0 10px;
    padding: 2px;
}

/* user */
#headImg {
    height: 100px;
    width: 100px;
}

.settings .info {
    border-right: 1px solid #CCCCCC;
    padding-right: 40px;
    margin-right: 40px;
}