/* css reset */
body{
    background-image: url(images/bg-body.png);
    color: #505460;
    font-family: Arial,sans-serif;
    font-size: small;
}

a {
    color: #005999;
}

a:hover {
    color: #505561;
}

img {
    vertical-align:middle;
    border: 0px;
}

li{
    margin-left:12px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

/* architecture */
.symphony-content{
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 16px #808A82;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 16px #808A82;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 16px #808A82;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 760px;
    padding: 24px;
    min-height: 600px;
}

.footer {
    background-color: #FFFFFF;
    text-align:center;
    padding:12px;
    margin-top: 30px;
}

/* header */
#top{
    background-color: #FFFFFF;
    border-bottom: 1px solid #C9D7F1;
    height: 20px;
    line-height:20px;
    padding: 1px 3px;
    margin-bottom: 30px;
}

#top a {
    text-decoration: none;
}

.header {
    -moz-border-radius: 36px 36px 10px 10px;
    background-color: #E1EDF3;
    float: right;
    margin-bottom: 30px;
}

.header ul {
    list-style-type: none;
}

.header li {
    float: left;
    margin: 10px 20px;
}

.header li a {
color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    padding: 0 4px;
    text-decoration: none;
}

.header li a.current, .header li a:hover {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 5px #808A82;
    background-color: #C1CDDD;
}

/* footer */
.about {
    font-weight: bold;
    color: #505460;
    text-decoration: none;
}

/* common */
.tip{
    color:red;
    line-height: 28px;
}

.bigger-font {
    color: #505561;
    font-size: 20px;
    text-decoration: none;
}

.big-font {
    text-decoration: none;
    line-height: 22px;
    font-size: 15px;
}

.middle-font {
    font-weight: normal;
    font-size: 13px;
}

.small-font {
    color: darkgrey;
    font-size: 10px;
}

.small-head-img, .middle-head-img, .big-head-img {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #C2C2C2 #5A5A5A #5A5A5A #C2C2C2;
    padding: 2px 1px 1px 2px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    height: 24px;
    width: 24px;
}

.middle-head-img {
    padding: 3px 2px 2px 3px;
    height: 36px;
    width: 36px;
}

.big-head-img {
    height: 64px;
    width: 64px;
    padding: 4px 3px 3px 4px;
}

.small-head-img:hover, .middle-head-img:hover, .big-head-img:hover {
    border-color: #5A5A5A;
}

/* common component */
.entry-list {
    margin-bottom: 10px;
    padding: 5px 0 10px 0;
    border-top: 1px dashed #C1CDDD;
}

.entry-list dd {
    margin: 0 5px;
    padding: 5px;
}

.entry-list dd:hover {
    background-color: #E1EDF3;
}

.entry-list dd .title-tag {
    width: 677px;
    padding-left: 20px;
    overflow: hidden;
}

.entry-list-top .even {
    background-color: #E1EdF3;
}

.entry-list-top .article-body {
    padding: 0 10px;
    border-top: 1px dashed #FFFFFF;
}

.entry-list-top dd {
    padding: 5px 10px;
}

.form th {
    text-align:right;
    white-space:nowrap;
    padding-right: 6px;
}

.form input, .form textarea{
    width:100%;
    font-size:12px;
    border:2px inset #CCCCCC;
    color: #505460;
    font-family: Arial,sans-serif;
}

.form textarea{
    overflow:auto;
}

.form input:focus,.form textarea:focus{
    border:2px solid #73A6FF;
}

.form input[type='checkbox'], .form input[type='checkbox']:focus{
    border:0px;
}

.form input{
    height:24px;
    line-height:24px;
}

.form .normal-input{
    width:auto;
}

.form button{
    background:url(/images/icon.png) repeat center bottom;
    border:1px solid;
    border-color:#CCC #BBBBBB #A0A0A0;
    height:28px;
    margin:0;
    vertical-align:top;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:0 6px;
}

.form button:hover{
    border-color:#BBB;
}

.form label {
    font-weight: bold;
    line-height: 24px;
}

.form caption, .table caption, .caption {
    font-size: 20px;
    color: #505561;
    font-weight: bold;
    margin: 11px 0;
}

.form .input-label {
    border-color: #CCCCCC;
    border-style: inset none inset inset;
    border-width: 2px 0 2px 2px;
    float: left;
    height: 24px;
    line-height: 24px;
}

.form .input-label-focus{
    border:2px solid #73A6FF;
    border-right-width: 0px;
    float: left;
    height: 24px;
    line-height: 24px;
}

.table th {
    text-align: left;
    padding: 3px 6px;
    color: #FFFFFF;
    background-color: #C1CDDD;
    height: 30px;
    border-bottom: 1px dashed #FFFFFF;
}

.table td {
    border-bottom: 1px dashed #E1EDF3;
    padding: 3px 6px;
}

.table tr:hover {
    background-color: #E1EDF3;
}

#pagination {
    margin: 20px 0;
    text-align: right;
}

#pagination a {
    background: url("/images/icon.png") repeat scroll center bottom transparent;
    border: 1px solid #C5C3C2;
    color: #505460;
    font-size: 10px;
    margin: 2px;
    padding: 1px 6px;
    text-decoration: none;
}

#pagination a.current {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C3C2;
    color: #3E3E3E;
    font-weight: bold;
    padding: 1px 7px 2px 6px;
}

#pagination a:hover {
    background: none repeat scroll 0 0 #C1CDDD;
    color: #005999;
    border: 1px solid #005999;
}

.completed-panel {
    background-color: #E1EDF3;
    border: 1px solid #505460;
    display: none;
    padding: 2px;
    position: absolute;
    color: #005999;
    overflow:auto;
}

.completed-panel div.selected {
    background-color: #C1CDDD;
}

/* icon */
.login-icon, .admin-icon, .logout-icon, .index-icon, .comment-icon,
.last-date-icon, .sofa-icon, .tag-icon, .reply-icon {
    background-image: url(/images/icon.png);
    width: 16px;
    height: 16px;
}

.login-icon, .admin-icon, .logout-icon, .index-icon {
    background-position: -112px -16px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 1px 0 0 3px;
}

.admin-icon {
    background-position:-80px -16px;
}

.logout-icon {
    background-position:-96px -16px;
}

.index-icon {
    background-position:-64px -16px;
}

.comment-icon, .sofa-icon, .tag-icon, .reply-icon {
    background-position: -32px -16px;
    float: left;
    display: block;    
}

.tag-icon {
    background-position: -144px -32px;
}

.sofa-icon {
    background-position: 0px -48px;
}

.reply-icon {
    background-position: -16px -16px;
}

/* top-entries */
.top-entries .title, .tag .title {
    margin: 5px 10px;
}

.top-entries .count, .tag .count {
    float: left;
    margin: 7px 0 0 15px;
}

/* entry */
.entry .big-head-img, .user>.marginB20 img {
    margin: 0 20px 16px 0;
}

.entry .premarlink {
    background-color: #E1EDF3;
    border-color: #C1CDDD;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    margin: 10px 5px 5px 5px;
    padding: 3px;
}

.entry .entry-main {
    overflow: hidden;
    margin-bottom: 10px;
    width: 662px
}

.entry .sign {
    border-top: 1px solid #E1EDF3;
    margin-top: 5px;
    padding: 5px 5px 0 5px;
}

.entry .comment .ref {
    background: none repeat scroll 0 0 #FFFEC8;
    border: 1px solid #DDDDDD;
    font-size: 9pt;
    margin: 0 0 10px;
    padding: 2px;
}

/* user */
.settings .info {
    border-left: 1px solid #CCCCCC;
    padding-left: 40px;
    margin-left: 40px;
    float: right;
}

.comment-hidden {
    font-size: 12px;
    line-height: 12px;
    height: 22px;
    overflow: hidden;
    width: 361px;
}

.user-comments {
    position: relative;
}

.comment-tip div {
    position: absolute;
    background-color: #E1EDF3;
    border-color: #C1CDDD;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    padding: 3px;
    width: 361px;
    min-height: 28px;
    overflow: auto;
    word-break: break-all;
    word-wrap:break-word;
}

.user .marginB20>div {
    word-break: break-all;
    word-wrap:break-word;
    width: 667px;
    overflow: hidden;
}