/* css reset */
body{
    background-image: url(images/bg-body.png);
    color: #505460;
    font-family: '微软雅黑',Arial,sans-serif;
    font-size: 12px;
}

a {
    color: #005999;
}

a:hover {
    color: #505561;
}

img{
    vertical-align:middle;
    border: 0px;
}

li{
    margin-left:12px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

h1{
    font-size:160%;
}

h2{
    font-size:140%;
}

h3{
    font-size:120%;
}

h4{
    font-size:110%;
}

/* common */
.tip{
    color:red;
}

/* architecture */
.header{
    height:108px;
}

.content{
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 16px #808A82;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 760px;
    padding: 24px
}

.footer {
    text-align:center;
    padding:12px;
}

/* header */
#top{
    border-bottom:1px solid #C9D7F1;
    padding:0 3px;
    background-color:#FFF;
    line-height: 20px;
}

/* common component */
.form th{
    text-align:right;
    white-space:nowrap;
}

.form input, .form textarea{
    width:100%;
    font-size:12px;
    border:2px inset #CCCCCC;
}

.form textarea{
    overflow:auto;
}

.form input:focus,.form textarea:focus{
    border:2px solid #73A6FF;
}

.form input[type='checkbox'], .form input[type='checkbox']:focus{
    border:0px;
}

.form input{
    height:24px;
    line-height:24px;
}

.form .normal-input{
    width:auto;
}

.form button{
    background:url(/images/icon.png) repeat center bottom;
    border:1px solid;
    border-color:#CCC #BBBBBB #A0A0A0;
    height:28px;
    margin:0;
    vertical-align:top;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:0 6px;
}

.form button:hover{
    border-color:#BBB;
}

.table {
    border-left: 1px solid #BBBBBB;
}

.table th {
    background: url("/images/icon.png") repeat scroll center bottom transparent;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-style: solid solid solid none;
    border-width: 1px;
    height: 28px;
}

.table td {
    border-bottom: 1px solid #A0A0A0;
    border-right: 1px solid #FFFFCC;
    color: #333333;
    padding: 3px 6px;
    background-color: #FFFFFF;
}

.table td:hover {
    border-right: 1px solid #FFFFFF;
    background-color: #FFFFCC;
}

/* icon */
.login-icon, .admin-icon, .logout-icon, .index-icon, .comment-icon,
.date-icon, .last-date-icon, .sofa-icon, .tag-icon {
    background-image: url(/images/icon.png);
    width: 16px;
    height: 16px;
}

.login-icon, .admin-icon, .logout-icon, .index-icon {
    background-position: -112px -16px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 3px 0 0 3px;
}

.admin-icon {
    background-position:-80px -16px;
}

.logout-icon {
    background-position:-96px -16px;
}

.index-icon {
    background-position:-64px -16px;
}

.comment-icon, .date-icon, .last-date-icon, .sofa-icon, .tag-icon {
    background-position: -32px -16px;
    float: left;
    display: block;    
}

.table .comment-icon {
    margin: 3px 3px 0 0;
}

.date-icon {
    background-position:-144px -16px;
}

.last-date-icon {
    background-position: -128px -32px;
}

.tag-icon {
    background-position: -144px -32px;
}

.sofa-icon {
    background-position: 0px -48px;
}

/* index */
.index dl {
    border-bottom: 1px solid;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.index dd {
    border-top: 1px dotted;
    margin: 15px 15px 0;
    padding-top: 15px;
}

.index dt img {
    height: 36px;
    width: 36px;
}

.index .user-info img {
    height: 45px;
    width: 45px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #C2C2C2 #5A5A5A #5A5A5A #C2C2C2;
    padding: 5px 4px 4px 5px;
    -moz-border-radius: 3px 3px 3px 3px;
    margin-right: 20px;
}

.index .user-info img:hover {
    border-color: #5A5A5A;
}

.index .main {
    width: 654px;
}

.index .main h2 {
    line-height: 30px;
}

.index .main h2 a {
    color: #505561;
    text-decoration: none;
}

.index .main h2 a:hover {
    color: #005999;
}

/* user info */
.user-info img {
    height: 100px;
    width: 100px;
}

/* user */
#headImg {
    height: 100px;
    width: 100px;
}