@charset "utf-8";
/*
 * b3log index style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.1, Jan 8, 2012
*/

/* start reset */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #6AD00F;
    text-decoration: none;
}

a:hover {
    color: #519619;
    text-shadow: 0 0 1px #FFFFFF;
}

ul {
    list-style: none;
}
/* end reset */

/* start common */
.none {
    display: none;
}

.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;    
}

.color-1 {
    color: #991E28;
}

.color-2 {
    color: #D5452B;
}

.color-3 {
    color: #A88615;
}

.color-4 {
    color: #788118;
}

.color-5 {
    color: #2E6B44;
}

.color-6 {
    color: #32824F;
}

.line {
    background: url("../images/line-2.png") repeat-x scroll center bottom transparent;
    padding-bottom: 56px;
    margin-bottom: 20px;
}

.module {
    background-color: rgba(38, 38, 38, 0.75);
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}
/* end common */

/* start frame */
body {
    /* background-image: url("../images/background.png");*/
    color: #FFF;
    min-height: 600px;
    min-width: 990px;
}

#navContent {
    padding-top: 135px;
}
/* end frame */

/* start nav */
.nav {
    background: url("../images/nav-bg.png") no-repeat scroll left bottom transparent;
    height: 103px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 0;
    width: 118px;
    box-shadow: 0 0 12px #FFFFFF;
    z-index: 2;
}

.nav ul {
    background-color: #231F20;
}

.nav .current {
    color: red;
}

.header {
    background: url("../images/line-1.png") repeat-x scroll center bottom #EEE;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    padding-bottom: 46px;
    width: 100%;
}
/* end nav */

/* start footer */
.footer {
    background-color: rgba(38, 38, 38, 0.6);
    padding: 15px 0;
}
/* end footer */

/* start part intro */
.intro-intro {
    width: 700px;
    font-size: 23px;
}

#news {
    background: url("../images/loader.gif") no-repeat scroll center center rgba(38, 38, 38, 0.75);
    min-height: 189px;
    width: 520px;
}

.intro div.panel {
    background-color: #DDDDDD;
    box-shadow: 0 0 3px #000000;
    float: left;
    height: 94px;
    width: 50%;
}
/* end part intro */

/* start part themes */
#themes div {
    box-shadow: 0 0 3px #000000;
    float: left;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 3px;
}

#themes div.center {
    height: 418px; 
    width: 786px;
}

#themes img { 
    width: 192px;
}

#themes div.center img {
    width: 786px;
}

#themes span {
    background-color: #000000;
    display: block;
    height: 120px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 192px;
}

#themes span.info {
    height: 44px;
    left: 600px;
    opacity: 0.7;
    padding: 0 10px;
    top: 376px;
}
/* end part themes */

/* start part time line */

/* end part time line */

/* start part about */
.about .panel {
    float: left;
    margin-right: 21px;
    width: 296px;
}
/* end part about */