@charset "utf-8";
/*
 * b3log index style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.1, Feb 25, 2012
*/

/* start reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.png");
    color: #FFF;
    min-height: 650px;
    min-width: 990px;
    font-family: \5fae\8f6f\96c5\9ed1, sans-serif;
    font-size: 12px;
}

a {
    color: #ebebeb;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #CA5C00;
    text-decoration: underline;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}
/* end reset */

/* start common */
.none {
    display: none;
}

.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;    
}

.color-1 {
    color: #ca5c00;
}

.color-2 {
    color: #b132ca;
}

.color-3 {
    color: #00732d;
}

.color-4 {
    color: #d69e00;
}

.line {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.module {
    background-color: rgba(165, 165, 165, 0.65);
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

.bg-1 {
    background: -moz-linear-gradient(center top , #FF9900 0%, #FF6633 100%) repeat scroll 0 0 transparent
}

.bg-2 {
    background: -moz-linear-gradient(center top , #C986C4 0%, #C953F7 100%) repeat scroll 0 0 transparent
}

.bg-3 {
    background: -moz-linear-gradient(center top , #00D666  0%,  #00aa33 100%) repeat scroll 0 0 transparent
}

.bg-4 {
    background: -moz-linear-gradient(center top ,  #FFE038  0%,   #FFbc6b 100%) repeat scroll 0 0 transparent
}
/* end common */

/* start frame */
#navContent {
    padding-top: 121px;
}
/* end frame */

/* start nav */
.nav {
    background: url("../images/nav-bg.png") no-repeat scroll left bottom transparent;
    height: 126px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 0;
    width: 126px;
    z-index: 2;
    line-height: 26px;
    font-size: 16px;
}

.nav a {
    font-family: sans-serif,\5fae\8f6f\96c5\9ed1;
}

.nav .current {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 2px #231F20;
}

.header {
    background: url("../images/header-bg.png") repeat-x scroll left bottom rgba(38, 38, 38, 0.65);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header img {
    margin-top: 30px;
}

.header-intro {
    font-size: 20px;
    margin: 20px;
    width: 671px;
}
/* end nav */

/* start footer */
.footer {
    background-color: rgba(38, 38, 38, 0.6);
    padding: 15px 0;
}
/* end footer */

/* start part intro */
.intro-list {
    font-size: 16px;
    line-height: 30px;
    list-style: square;
    margin: 20px 70px 20px 35px;
}

#news {
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(195, 195, 195, 0.65);
    line-height: 23px;
    min-height: 208px;
    overflow: hidden;
    padding-left: 30px;
    width: 409px;
}

#news span {
    color: #CA5C00;
    margin-right: 10px;
}

#news a { 
    color: #FFF;
    font-weight: normal;
}

#news a:hover {
    color: #EBEBEB;
}

.intro div.panel {
    box-shadow: 0 0 2px #EEEEEE;
    float: left;
    height: 94px;
    padding: 5px;
    width: 235px;
}

.intro div.panel h2 {
    border-bottom: 1px solid;
    font-size: 20px;
    margin-bottom: 10px;
}

.intro div.bg-1 a {
    background-color: #FFF;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    float: left;
    margin: 14px 9px;
    padding: 2px 5px;
}

.intro div.bg-1 a:hover {
    box-shadow: 0 0 1px #FFF;
    text-decoration: none;
    background-color: rgba(235, 235, 235, 0.7);
}

.intro div.bg-4 a {
    display: block;
    font-size: 13px;
    margin-left: 30px;
    color: #FFF;
}
/* end part intro */

/* start part themes */
#themes div {
    box-shadow: 0 0 1px rgba(38, 38, 38, 0.65);
    float: left;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 3px;
}

#themes div:hover {
    box-shadow: 0 0 3px #CA5C00;
}

#themes div.center {
    height: 414px; 
    width: 786px;
}

#themes div.center:hover {
    box-shadow: 0 0 1px rgba(38, 38, 38, 0.65);
}

#themes img { 
    width: 192px;
}

#themes div.center img {
    width: 786px;
}

#themes span {
    background-color: rgba(38, 38, 38, 0.7);
    display: block;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 192px;
}

#themes span.info {
    background-color: rgba(0, 0, 0, 0.7);
    height: 34px;
    left: 671px;
    padding: 5px 10px;
    text-align: center;
    top: 370px;
    width: 95px;
}
/* end part themes */

/* start part time line */

/* end part time line */

/* start part about */
.about .panel {
    float: left;
    margin-right: 21px;
    width: 296px;
    height: 99px;
}

.about .panel h2 {
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.about .bg-3 {
    float: right;
    margin-right: 0;
}
/* end part about */