@charset "utf-8";
/*
 * classic style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.2, Nov 5, 2011
*/
/* start resset and common */
*,html,body{
    margin:0;
    padding:0;
}

body{
    background-image: url(../images/bg-body.png);
    color: #505460;
    font-family: Arial,sans-serif;
    font-size: small;
}

a {
    color: #005999;
}

a:hover {
    color: #505460;
}

img {
    vertical-align:middle;
    border: 0px;
}

li{
    margin-left:12px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

.clear {
    clear: both;
}
button, .button {
    background: url(/images/icon.png) repeat center bottom;
    border: 1px solid;
    border-color: #CCC #BBBBBB #A0A0A0;
    border-radius: 4px;
    height: 28px;
    margin: 0;
    padding: 0 6px;
    vertical-align: top;
}
button:hover,.button:hover {
    border-color: #BBB;
}
/* end reset and common */

/* start architecture */
.symphony-content{
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 0 16px #808A82;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 0 16px #808A82;
    border-radius: 6px;
    box-shadow: 0 0 16px #808A82;
    background-color: #FFFFFF;
    margin: 30px auto;
    width: 760px;
    padding: 24px;
    min-height: 600px;
}

.footer {
    background-color: #FFFFFF;
    text-align:center;
    padding:12px;
}
/* end architecture */

/* start top */
#top {
    background-image: linear-gradient(top,#FFFFFF,#E5E5E5);
    background-image: -moz-linear-gradient(top,#FFFFFF,#E5E5E5);
    background-image: -ms-linear-gradient(top,#FFFFFF,#E5E5E5);
    background-image: -o-linear-gradient(top,#FFFFFF,#E5E5E5);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#E5E5E5));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E5E5E5');
    border-bottom: 1px solid #E5E5E5;
    height: 26px;
    line-height: 26px;
}

#top a, #top span span {
    border-right: 1px solid #D9D9D9;
    color: #4C4C4C;
    float: left;
    line-height: 14px;
    margin: 6px 0;
    padding: 0 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFFFFF;
    font-weight: normal;
}

#top a:hover, #top a.hover {
    background-color: #EEF2FA;
    border-left-color: #707070;
    border-radius: 0 13px 13px 0;
    margin: 0px;
    line-height: 26px;
}
/* end top */

/* start header */
.header .small-font {
    font-size: 12px;
    float: left;
    margin-left: 5px;
    margin-top: 25px;
}

.header-navi {
    -moz-border-radius: 36px 36px 10px 10px;
    -webkit-border-radius: 36px 36px 10px 10px;
    border-radius: 36px 36px 10px 10px;
    background-color: #E1EDF3;
    float: right;
    margin-bottom: 30px;
    list-style-type: none;
    -moz-box-shadow: 0 0 6px #808A82;
    -webkit-box-shadow: 0 0 6px #808A82;
    box-shadow: 0 0 6px #808A82;
}

.header-navi li {
    float: left;
    margin: 10px 20px;
}

.header-navi li a {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 4px;
    text-decoration: none;
    color: #505460;
}

.header-navi li a.current, .header-navi li a:hover {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 3px #505460;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 3px #505460;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #808A82;
    background-color: #C1CDDD;
    color: #FFFFFF;
}
/* end header */

/* start reuse */
.tip{
    color:red;
    line-height: 28px;
}

.bigger-font {
    color: #505460;
    font-size: 20px;
    text-decoration: none;
}

.big-font {
    text-decoration: none;
    line-height: 22px;
    font-size: 15px;
    text-shadow: 1px 0 1px #C1CDDD;
}

.middle-font {
    font-weight: normal;
    font-size: 12px;
}

.middle-font a {
    text-decoration: none;
    color: #FFB02C;
}

.small-font {
    color: darkgrey;
    font-size: 10px;
}

.small-head-img, .middle-head-img, .big-head-img {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #C2C2C2 #5A5A5A #5A5A5A #C2C2C2;
    padding: 2px 1px 1px 2px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    height: 24px;
    width: 24px;
}

.middle-head-img {
    padding: 3px 2px 2px 3px;
    height: 36px;
    width: 36px;
}

.big-head-img {
    height: 64px;
    width: 64px;
    padding: 4px 3px 3px 4px;
}

.small-head-img:hover, .middle-head-img:hover, .big-head-img:hover {
    border-color: #5A5A5A;
}

.blue {
    color: #005999;
}
/* end reuse */

/* start entry list */
.entry-list {
    margin-bottom: 10px;
    padding: 5px 0 10px 0;
    border-top: 1px dashed #C1CDDD;
}

.entry-list dd {
    margin: 5px;
    padding: 5px;
}

.entry-list dd:hover {
    background-color: #E1EDF3;
}

.entry-list dd .title-tag {
    width: 677px;
    padding-left: 20px;
    overflow: hidden;
}

.entry-list-top .even {
    background-color: #E1EdF3;
}

.entry-list-top dd {
    padding: 5px 10px;
}
.entry .big-head-img, .user>.marginB20 img {
    margin: 0 20px 16px 0;
}

.entry .premarlink {
    background-color: #E1EDF3;
    border-color: #C1CDDD;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    margin: 10px 5px 5px 5px;
    padding: 3px;
}

.entry .entry-main {
    overflow: hidden;
    margin-bottom: 10px;
    width: 662px
}

.entry .sign {
    border-top: 1px solid #E1EDF3;
    margin-top: 5px;
    padding: 5px 5px 0 5px;
    color: darkgray;
}

.entry .comment .ref {
    background-color: #FFFEC8;
    border: 1px solid #FFB02C;
    font-size: 12px;
    padding: 5px 6px;
}

.entry .comment>.ref {
    margin-bottom: 5px;
    max-height: 129px;
    overflow: hidden;
}
/* end entry list */

/* start article and comment */
.article-body a {
    color: #505460;
}

.article-body a:hover {
    color: #005999;
}

.form th {
    text-align: right;
    white-space: nowrap;
}

.form input[type='text'], .form input[type='password'], .form textarea {
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    outline: medium none;
    width: 100%;
    padding: 0 3px;
}

.form textarea {
    overflow: auto;
}
.form input {
    height: 24px;
}
.form input[type='checkbox'] {
    border: 0px;
    vertical-align: top;
}
.form input.normalInput {
    width: auto;
}
.form input[type='checkbox']:focus {
    border: 0px;
}
.form input[type='checkbox'] {
    border: 0px;
    vertical-align: top;
}
.form input:focus, .form textarea:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.form textarea {
    padding: 3px;
}

.table th {
    text-align: left;
    padding: 3px 6px;
    color: #FFFFFF;
    background-color: #C1CDDD;
    height: 30px;
    border-bottom: 1px dashed #FFFFFF;
}

.table td {
    border-bottom: 1px dashed #E1EDF3;
    padding: 3px 6px;
}

.table tr:hover {
    background-color: #E1EDF3;
}
/* end article and comment */

/* start pagination */
#pagination {
    margin: 20px 0;
    text-align: right;
}

#pagination a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C3C2;
    padding: 1px 6px;
    font-size: 10px;
    color: #505460;
    margin: 2px;
    text-decoration: none;
}

#pagination a.current {
    background: url("/images/icon.png") repeat scroll center bottom transparent;
    border: 1px solid #C5C3C2;
    padding: 2px 7px;
    font-weight: bold;
    color: #3E3E3E;
}

#pagination a:hover {
    background: none repeat scroll 0 0 #C1CDDD;
    color: #005999;
    border: 1px solid #005999;
}
/* end pagination */

/* start icon */
.login-icon, .admin-icon, .logout-icon, .index-icon, .comment-icon,
.last-date-icon, .sofa-icon, .tag-icon, .reply-icon {
    background-image: url(/images/icon.png);
    width: 16px;
    height: 16px;
}

.login-icon, .admin-icon, .logout-icon, .index-icon {
    background-position: -112px -16px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 1px 0 0 3px;
}

.admin-icon {
    background-position:-80px -16px;
}

.logout-icon {
    background-position:-96px -16px;
}

.index-icon {
    background-position:-64px -16px;
}

.comment-icon, .sofa-icon, .tag-icon, .reply-icon {
    background-position: -32px -16px;
    float: left;
    display: block;    
}

.tag-icon {
    background-position: -144px -32px;
}

.sofa-icon {
    background-position: 0px -48px;
}

.reply-icon {
    background-position: -16px -16px;
}
/* end icon */

/* start user */
.settings .info {
    border-left: 1px solid #CCCCCC;
    padding-left: 40px;
    margin-left: 40px;
    float: right;
}

.comment-hidden {
    font-size: 12px;
    line-height: 12px;
    height: 23px;
    overflow: hidden;
    width: 361px;
}

.user-comments {
    position: relative;
}

#commentTips div {
    position: absolute;
    background-color: #E1EDF3;
    border-color: #C1CDDD;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    padding: 3px;
    width: 361px;
    min-height: 28px;
    overflow: auto;
    word-break: break-all;
    word-wrap:break-word;
}

.user .marginB20>div {
    word-break: break-all;
    word-wrap:break-word;
    width: 667px;
    overflow: hidden;
}

.user .caption {
    display: block;
}

#userSettingsForm input, #userSettingsForm textarea {
    width: 263px;
}
/* end user */

/* start ablout */
.about>div:last-child {
    border-top: 1px dashed #C1CDDD;
    padding-top: 20px;
}
/* end ablout */

/* start error page */
.error {
    -moz-border-radius: 12px 12px 6px 12px;
    background-color: #E1EDF3;
    -moz-box-shadow: 0 0 6px #808A82;
    padding: 10px;
    margin-top: 10px;
}

.error a {
    text-decoration: none;
}

.error-title {
    color: #FFB02C;
    font-family: "Reenie Beanie";
    font-size: 112px;
    line-height: 101px;
    margin-top: 12px;
    text-align: center;
    text-shadow: 3px 3px 3px #C1CDDD;
}
/* end error page */

/* start bowknot style */
.completed-input {
    margin: 2px 12px 0 0;
}
.completed-panel {
    background-color: #ECECEC;
    border: 1px solid #CCCCCC;
    color: #0000CC;
    display: none;
    overflow: auto;
    padding: 2px;
    position: absolute;
    z-index: 10;
}
.completed-panel a {
    display: block;
    text-decoration: none;
}
.completed-panel a.selected {
    background-color: #FFFFFF;
    color: #D54121;
}
.completed-ck span {
    background: url(/images/icon.png) repeat center bottom;
    border: 1px solid;
    border-color: #CCC #BBBBBB #A0A0A0;
    border-radius: 4px;
    color: #21759B;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 26px;
    margin: 3px 6px;
    padding: 0 6px;
    vertical-align: top;
}
.completed-ck span:hover {
    border-color: #BBB;
}

.completed-ck span.selected {
    color: #D54121;
    background: url(/images/bowknot/completed.png) no-repeat right bottom;
}
/* end bowknot style */