*,html,body{
    margin:0;
    padding:0;
}

.padding12{
    padding:12px;
}

.paddingB12{
    padding-bottom:12px;
}

.paddingT12{
    padding-top:12px;
}

.margin12{
    margin:12px;
}

.marginT12{
    margin-top:12px;
}

.marginB12{
    margin-bottom:12px;
}

.marginL12{
    margin-left:12px;
}

.marginL6{
    margin-left:6px;
}

.marginR12{
    margin-right:12px;
}

.marginB5 {
    margin-bottom: 5px;
}

.marginB20 {
    margin-bottom: 20px;
}

.nowrap{
    white-space: nowrap;
}

.break-word {
    word-break: break-all;
    word-wrap:break-word;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
    height:0px;
    font-size:0px;
    line-height:0px;
    overflow: hidden;
    border: 0px;
    background-color: transparent;
    display: block;
}

.none{
    display:none;
}

.pointer{
    cursor:pointer;
}

.no-underline{
    text-decoration:none;
}

/* css reset */
.article-body blockquote{border:1px dotted #98A47F;margin:12px;padding:12px;font-style:italic;}
.article-body h1{font-size:2em;margin:.67em 0}
.article-body h2{font-size:1.5em;margin:.75em 0}
.article-body h3{font-size:1.17em;margin:.83em 0}
.article-body h4, .article-body p, .article-body blockquote, .article-body ul, .article-body fieldset, .article-body form, .article-body ol, .article-body dl, .article-body dir, .article-body menu{margin:1.12em 0}
.article-body h5{font-size:.83em;margin:1.5em 0}
.article-body h6{font-size:.75em;margin:1.67em 0}
.article-body blockquote{margin-left:40px;margin-right:40px}
.article-body ol, .article-body ul, .article-body dir, .article-body menu, .article-body dd{margin-left:40px}

/* logo */
.logo{
    text-decoration: none;
    outline:none;
}

.logo span{
    margin:0 -2px;
}

