.marginB5{
    margin-bottom: 5px;
}

.marginR5 {
    margin-right: 5px;
}

.marginB20 {
    margin-bottom: 20px;
}

.nowrap{
    white-space: nowrap;
}

.break-word {
    word-break: break-all;
    word-wrap:break-word;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
    height:0px;
    font-size:0px;
    line-height:0px;
    overflow: hidden;
    border: 0px;
    background-color: transparent;
    display: block;
}

.none{
    display:none;
}

.pointer{
    cursor:pointer;
}

.no-underline{
    text-decoration:none;
}

/* css reset */
.article-body {
    word-break: break-all;
    word-wrap:break-word;
    overflow: hidden;
}

.article-body blockquote{
    border:1px dotted #98A47F;
    margin:12px;
    padding:12px;
    font-style:italic;
}

.article-body h1{
    font-size:2em;
    margin:.67em 0;
}

.article-body h2{
    font-size:1.5em;
    margin:.75em 0;
}

.article-body h3{
    font-size:1.17em;
    margin:.83em 0;
}

.article-body h4, .article-body p, .article-body blockquote,
.article-body ul, .article-body fieldset, .article-body form,
.article-body ol, .article-body dl, .article-body dir, .article-body menu{
    margin:1.12em 0;
}

.article-body h5{
    font-size:.83em;
    margin:1.5em 0;
}

.article-body h6{
    font-size:.75em;
    margin:1.67em 0;
}

.article-body blockquote{
    margin-left:40px;
    margin-right:40px;
}

.article-body ol, .article-body ul, .article-body dir,
.article-body menu, .article-body dd{
    margin-left:40px;
}

/* logo */
.logo{
    text-decoration: none;
    outline:none;
}

.logo span{
    margin:0 -2px;
}

/* emotions */
.ems-classic {
    background-image: url(/images/ems-classic.png);
    height: 24px;
    cursor: pointer;
    width: 24px;
}

.em1 {
    background-position: -24px 0px;
}

.em2 {
    background-position: -48px 0px;
}

.em3 {
    background-position: -72px 0px;
}

.em4 {
    background-position: -96px 0px;
}

.em5 {
    background-position: 0px -24px;
}

.em6 {
    background-position: -24px -24px;
}

.em7 {
    background-position: -48px -24px;
}

.em8 {
    background-position: -72px -24px;
}

.em9 {
    background-position: -96px -24px;
}

.em10 {
    background-position: 0px -48px;
}

.em11 {
    background-position: -24px -48px;
}

.em12 {
    background-position: -48px -48px;
}

.em13 {
    background-position: -72px -48px;
}

.em14 {
    background-position: -96px -48px;
}