<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2009, 2010, 2011, B3log Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<!--
    Description: B3log Symphony web deployment descriptor.
    Version: 1.0.0.8, Feb 16, 2011
    Author: Liang Ding
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>PageCacheFilter</filter-name>
        <filter-class>org.b3log.symphony.filter.PageCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageCacheFilter</filter-name>
        <url-pattern>/tags/*</url-pattern>
        <url-pattern>/entries/*</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/top-entries</url-pattern>
        <url-pattern>/users/*</url-pattern>
        <url-pattern>/chinasb</url-pattern>
    </filter-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User Actions</web-resource-name>
            <url-pattern>/user-settings</url-pattern>
            <url-pattern>/user-entries</url-pattern>
            <url-pattern>/user-comments</url-pattern>
            <url-pattern>/user-add-entry</url-pattern>
            <url-pattern>/user-add-comment</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Actions</web-resource-name>
            <url-pattern>/admin-settings</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <listener>
        <listener-class>org.b3log.symphony.SymphonyServletListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>org.b3log.symphony.action.captcha.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.IndexAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexAction</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopEntries</servlet-name>
        <servlet-class>org.b3log.symphony.action.TopEntriesAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopEntries</servlet-name>
        <url-pattern>/top-entries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TagEntriesAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.TagEntriesAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagEntriesAction</servlet-name>
        <url-pattern>/tags/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntryAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.EntryAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntryAction</servlet-name>
        <url-pattern>/entries/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddArticleAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.AddArticleAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArticleAction</servlet-name>
        <url-pattern>/add-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEntryAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserAddEntryAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEntryAction</servlet-name>
        <url-pattern>/user-add-entry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEntryCommentAction</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserAddEntryCommentAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEntryCommentAction</servlet-name>
        <url-pattern>/user-add-comment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>org.b3log.symphony.action.CheckLoginAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/check-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSettings</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserSettingsAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSettings</servlet-name>
        <url-pattern>/user-settings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSettings</servlet-name>
        <servlet-class>org.b3log.symphony.action.admin.AdminSettingsAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSettings</servlet-name>
        <url-pattern>/admin-settings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserEntris</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserEntriesAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserEntris</servlet-name>
        <url-pattern>/user-entries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserComments</servlet-name>
        <servlet-class>org.b3log.symphony.action.UserCommentsAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserComments</servlet-name>
        <url-pattern>/user-comments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>org.b3log.symphony.action.AboutAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTags</servlet-name>
        <servlet-class>org.b3log.symphony.action.GetTagsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTags</servlet-name>
        <url-pattern>/get-tags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Chinasb</servlet-name>
        <servlet-class>org.b3log.symphony.action.ChinasbAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chinasb</servlet-name>
        <url-pattern>/chinasb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error404</servlet-name>
        <servlet-class>org.b3log.symphony.action.error.Error404Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error403</servlet-name>
        <servlet-class>org.b3log.symphony.action.error.Error403Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error403</servlet-name>
        <url-pattern>/403</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error500</servlet-name>
        <servlet-class>org.b3log.symphony.action.error.Error500Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error500</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
